@font-face {
  font-family: PoppinsVN;
  src: url("../../../public/fonts/SVN-Gilroy\ SemiBold.otf");
}
@font-face {
  font-family: SVN-Gilroy;
  src: url("../../../public/fonts/SVN-Gilroy\ SemiBold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: SVN-Gilroy;
  src: url("../../../public/fonts/SVN-Gilroy\ SemiBold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: SVN-Gilroy;
  src: url("../../../public/fonts/SVN-Gilroy\ Regular.otf") format("truetype");
  font-weight: 400;
}
.question-page {
  .container {
    max-width: 1920px;
    background: rgba(247, 247, 252, 1);
    padding: 50px 0px;
    margin: 0px auto;
  }
  .icon-com-back {
    width: 90%;
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .icon-com-back img {
    width: 40px;
    height: 40px;
  }
  .main-question > .list-question {
    width: 50%;
    margin: auto;
  }
  .main-question > .list-question > ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
  .main-question > .list-question > ul > li {
    list-style: none;
    margin: 0px 5.5px;
  }
  .main-question > .list-question > ul > li > button {
    border: 1.29437px solid #d9dbe9;
    border-radius: 5.17749px;
    width: 111.32px;
    height: 41.42px;
    background: none;
  }
  .main-question > .list-question > ul > li > button > span {
    font-style: normal;
    font-family: SVN-Gilroy;
    font-weight: bold;
    font-size: 22.0043px;
    line-height: 31px;
    color: #a0a3bd;
  }
  .main-question > .list-question > ul > li:nth-child(1) > button {
    background: #3d40c6;
  }
  .main-question > .list-question > ul > li:nth-child(1) > button span {
    color: #fcfcfc;
  }
  .main-question > .list-question > ul > li:nth-child(3) > button {
    background: #00cc67;
  }
  .main-question > .list-question > ul > li:nth-child(3) > button span {
    color: #fcfcfc;
  }
  .main-question > .list-question > ul > li:nth-child(4) > button {
    background: #ff4c4d;
  }
  .main-question > .list-question > ul > li:nth-child(4) > button span {
    color: #fcfcfc;
  }
  .main-question > .text-question {
    width: 55%;
    margin: auto;
    padding: 38px;
    background: #fcfcfc;
    box-shadow: 0px 12px 40px rgba(193, 156, 252, 0.12);
    border-radius: 12px;
    margin-top: 52px;
    margin-bottom: 30px;
  }
  .main-question > .text-question p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.75px;
    font-family: SVN-Gilroy;
    color: rgba(78, 75, 102, 1);
  }
  .main-question > .answer-choice {
    padding: 0px;
    margin: 0px auto;
    width: 47%;
    margin-bottom: 70px;
  }
  .main-question > .answer-choice > li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 12px 0px;
    cursor: pointer;
  }
  .main-question > .answer-choice > li:nth-child(2) > p {
    color: #3c0594;
  }
  .main-question .answer-choice .bđ-bottom {
    border-bottom: 1px solid #e3e5f2;
  }
  .main-question > .answer-choice > li > .text-answer-choice {
    font-style: normal;
    font-family: SVN-Gilroy;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #060606;
    width: 90%;
  }
  .main-question > .answer-choice > li > .icon-answer-choice {
    width: 20px;
    height: 20px;
    background: #eff0f7;
    border-radius: 50px;
  }
  .main-question > .answer-choice > li:nth-child(2) > .icon-answer-choice {
    background: none;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer > .icon-next-left,
  .footer > .icon-next-right {
    border: none;
    background: none;
  }
  .footer > .icon-next-left img,
  .footer > .icon-next-right img {
    width: 54.72px;
    height: 54.72;
  }
  .footer > .button-center {
    background: #3d40c6;
    border-radius: 36px;
    border: none;
    width: 706.4px;
    height: 72px;
    margin: 0px 72.82px;
  }
  .footer > .button-center > span {
    font-family: PoppinsVN;
    font-style: normal;
    font-weight: 400;
    font-size: 21.6px;
    line-height: 35px;
    text-align: center;
    color: #f7f7fc;
  }
  @media only screen and (min-width: 1024px) {
  }
  @media only screen and (max-width: 567px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      padding: 20px 0px;
    }
    .icon-com-back {
      width: 80%;
    }
    .icon-com-back img {
      width: 24px;
      height: 24px;
    }
    .main-question > .list-question {
      width: 80%;
      overflow: auto;
    }
    .main-question > .list-question > ul {
      justify-content: space-between;
    }
    .main-question > .list-question > ul > li > button {
      width: 86px;
      height: 32px;
    }
    .main-question > .list-question > ul > li > button > span {
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
    }
    .main-question > .text-question {
      width: 80%;
      padding: 15px;
      margin: 0px auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .main-question > .text-question p {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      text-align: left;
    }
    .main-question > .answer-choice {
      width: 80%;
    }
    .main-question > .answer-choice > li > .text-answer-choice {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
    }
    .footer {
      width: 80%;
      margin: auto;
    }
    .footer > .icon-next-right img,
    .footer > .icon-next-left img {
      width: 38px;
    }
    .footer > .button-center {
      width: 191px;
      height: 50px;
      margin: 0px 15px;
    }
    .footer > .button-center > span {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
