.text-question {
    width: 55%;
    margin: auto;
    padding: 38px;
    background: #fcfcfc;
    border-radius: 12px;
    margin-top: 52px;
    margin-bottom: 30px;
}
.text-question p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.75px;
    font-family: SVN-Gilroy;
    color: #4e4b66;
}