
.read-a-book {
    position: relative;
    background: #4e4b66;
    padding: 90px 0px 90px 0px;
    width: 86%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 38px;
}
.book-page-number {
    font-family: SVN-Gilroy-regular;
    position: absolute;
    top: 0px;
    width: 140px;
    height: 40px;
    background: #262338;
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 34px;
}
.read-a-book .next-right, .read-a-book .next-left {
    position: absolute;
    top: 50%;
}
.read-a-book .next-left {
    left: 10px;
    padding: 10px 17px;
    border: none;
    border-radius: 50%;
    background: #eff0f7;
    position: absolute;
}
.read-a-book .img-book {
    width: 480px;
    height: 720px;
    margin: auto;
}
.read-a-book .next-right {
    position: absolute;
    right: 10px;
    padding: 10px 17px;
    border: none;
    border-radius: 50%;
    background: #eff0f7;
}

