.player {
  padding: 0px;
  .dp-flex {
    display: flex;
  }
  .container {
    max-width: 1920px;
    height: 1500px;
    background: #fcfcfc;
    padding: 0px;
  }
  .listen-radio-player {
    background-image: url("../../../public/img/Rectangle.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .listen-radio-player .navigation-bar-radio {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 30px 0px;
    align-items: center;
  }
  .listen-radio-player > .navigation-bar-radio > .left-come-back {
    cursor: pointer;
  }
  .listen-radio-player > .navigation-bar-radio > .right-option > .dropdown > .dropdown-toggle {
    background: none;
    border: none;
    font-size: 50px;
    color: #262338;
  }
  .right-option > .dropdown > .dropdown-menu {
    width: 327px;
    border: none;
    background: #fcfcfc;
    border-radius: 16px;
    margin-top: 20px !important;
    padding: 0px !important;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .right-option > .dropdown > .dropdown-menu > li > .dropdown-item {
    display: flex;
    padding: 15px 10px 15px 30px;
    align-items: center;
    transition: 0.25s;
  }
  .right-option > .dropdown .dropdown-menu > li > .dropdown-item:hover {
    background: #efe8fc;
    color: #262338 !important;
  }
  .right-option > .dropdown > .dropdown-menu > li > .dropdown-item > .icon {
    margin-right: 20px;
  }
  .right-option > .dropdown > .dropdown-menu > li > .dropdown-item > .text {
    font-family: SVN-Gilroy-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #262338;
  }
  .listen-radio-player .img-listen-radio-player {
    width: 385.94px;
    height: 417px;
  }
  .listen-radio-player > .information-listen-radio-player {
    margin: 62px 0px 62px 0px;
  }
  .listen-radio-player > .information-listen-radio-player > .title {
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    color: #262338;
    margin-bottom: 15px;
  }
  .listen-radio-player > .information-listen-radio-player > .text {
    font-style: normal;
    font-family: SVN-Gilroy-regular;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
    color: #6e7191;
  }
  /*thanh ran ger*/

  .footer {
    display: flex;
    justify-content: space-around;
    padding-top: 42px;
  }
  .footer .left-footer,
  .footer .center-footer,
  .footer .right-footer {
    display: flex;
    align-items: center;
  }
  .footer .left-footer .ebook {
    margin-right: 64px;
    cursor: pointer;
  }
  .footer .left-footer .ebook .text-ebook,
  .footer .left-footer .speed .text-speed,
  .footer .right-footer .timer .text-timer,
  .footer .right-footer .table-of-contents .text-table-of-contents {
    font-family: SVN-Gilroy-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
    color: #6e7191;
  }
  .footer .left-footer .ebook .icon-ebook,
  .footer .left-footer .speed .icon-speed,
  .footer .right-footer .timer .icon-timer,
  .footer .right-footer .table-of-contents .icon-table-of-contents {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    background: #d9dbe9;
  }
  .footer .left-footer .ebook .icon-ebook img {
    width: 33px;
    height: 27px;
  }
  .speed .icon-speed .dropup .dropdown-toggle {
    border: none;
    background: none;
  }
  .speed .icon-speed .dropup .dropdown-toggle span {
    font-family: SVN-Gilroy-regular;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
    color: #6e7191;
  }
  .dropup .dropdown-toggle::after {
    display: none;
  }
  .speed > .icon-speed > .dropup > .dropdown-menu,
  .timer .icon-timer .dropup .dropdown-menu {
    border-radius: 16px;
    border: none;
    box-shadow: 0px -12px 40px rgba(61, 64, 198, 0.08);
    background: #fcfcfc;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin-bottom: 30px !important;
    width: 216px;
  }
  .speed .icon-speed .dropup .dropdown-menu > li > p,
  .timer .icon-timer .dropup .dropdown-menu > li > p {
    font-family: SVN-Gilroy-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #262338;
    border-bottom: 1px solid #d9dbe9;
    padding-bottom: 10px;
  }
  .speed .icon-speed .dropup .dropdown-menu > li > a,
  .timer .icon-timer .dropup .dropdown-menu > li > a {
    padding: 5px 100px;
    font-family: SVN-Gilroy-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.75px;
    color: rgba(160, 163, 189, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .speed > .icon-speed > .dropup > .dropdown-menu > li > .dropdown-item:hover {
    background: #efe8fc;
    color: #262338 !important;
  }
  .speed > .icon-speed > .dropup > .dropdown-menu > li > .dropdown-item {
    transition: 0.25s;
  }
  .timer .icon-timer .dropup .dropdown-menu > li > .dropdown-item {
    transition: 0.25s;
  }
  .timer .icon-timer .dropup .dropdown-menu > li > .dropdown-item:hover {
    background: #efe8fc;
    color: #262338 !important;
  }
  .footer .center-footer {
    justify-content: space-between;
    width: 24%;
  }
  .timer .icon-timer .dropup .dropdown-toggle {
    border: none;
    background: none;
  }
  .footer .right-footer .table-of-contents .icon-table-of-contents > img {
    width: 32px;
    height: 32px;
  }
  .center-footer > .replay-left,
  .center-footer > .skip-left,
  .center-footer > .center-play,
  .center-footer > .skip-right,
  .center-footer > .replay-right {
    cursor: pointer;
  }
  .right-footer .table-of-contents {
    margin-left: 64px;
  }

  .range {
    width: 60%;
  }

  div#timeline {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  div#timeline > span {
    font-family: SVN-Gilroy-regular;
    font-size: 7px;
    position: absolute;
    top: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.75px;
    color: #6e7191;
  }
  div#timeline #current-time {
    left: 0px;
    top: -30px;
  }
  div#timeline #total-time {
    right: 0px;
    top: -30px;
  }
  div#timeline .slider {
    background: #eee5fe;
    border-radius: 2px;
    cursor: pointer;
    height: 6px;
    position: relative;
    width: 100%;
  }
  div#timeline .slider .progress {
    background: linear-gradient(95.08deg, #c566ff 2.49%, #5c00b9 97.19%);
    border-radius: 100px;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 0px;
    overflow: visible !important;
    z-index: 1;
  }
  div#timeline .slider .progress .pin {
    background: #3d40c6;
    border-radius: 100px;
    height: 32.87px;
    width: 32.87px;
    position: absolute;
    pointer-events: all;
    right: 0px;
    top: -15px;
  }
  @media only screen and (min-width: 1024px) {
  }
  @media only screen and (max-width: 576px) {
    .container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .listen-radio-player {
      flex-grow: 1;
    }
    .listen-radio-player .navigation-bar-radio {
      align-items: flex-end;
      padding: 0px 0px 74px 0px;
    }
    .listen-radio-player .img-listen-radio-player {
      width: 225px;
      height: 240px;
    }
    .listen-radio-player .img-listen-radio-player > img {
      margin-left: 20px;
    }
    .listen-radio-player > .information-listen-radio-player {
      margin: 100px 0px 50px 0px;
    }
    .listen-radio-player > .navigation-bar-radio > .left-come-back {
      width: 24px;
      height: 24px;
    }
    .listen-radio-player > .navigation-bar-radio > .right-option > .dropdown > .dropdown-toggle {
      font-size: 30px;
    }
    .listen-radio-player > .information-listen-radio-player > .title {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      width: 80%;
      margin: auto;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .listen-radio-player > .information-listen-radio-player > .text {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      width: 50%;
      margin: auto;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .range {
      width: 100%;
    }
    div#timeline > span {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      margin: 0px 20px;
    }
    div#timeline .slider {
      height: 4px;
    }
    div#timeline .slider .progress .pin {
      width: 22px;
      height: 22px;
      top: -9px;
      right: -5;
    }
    .footer {
      flex-wrap: wrap;
      padding-top: 0px;
    }
    .footer .left-footer {
      order: 3;
      width: 50%;
      justify-content: space-around;
    }
    .center-footer > .center-play {
      width: 70px;
      height: 70px;
    }
    .center-footer > .replay-left,
    .center-footer > .skip-left,
    .center-footer > .skip-right,
    .center-footer > .replay-right {
      width: 40px;
      height: 40px;
    }
    .footer .center-footer {
      order: 1;
      width: 100%;
      border-bottom: 3px solid rgb(245, 245, 245);
      padding: 60px 20px;
    }
    .footer .right-footer {
      order: 2;
      width: 50%;
      justify-content: space-around;
    }
    .footer .left-footer .ebook {
      margin-right: 0px;
    }
    .footer .left-footer .ebook .text-ebook,
    .footer .left-footer .speed .text-speed,
    .footer .right-footer .timer .text-timer,
    .footer .right-footer .table-of-contents .text-table-of-contents {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .right-footer .table-of-contents {
      margin-left: 0px;
    }
    .footer .left-footer .ebook .icon-ebook,
    .footer .left-footer .speed .icon-speed,
    .footer .right-footer .timer .icon-timer,
    .footer .right-footer .table-of-contents .icon-table-of-contents {
      background: none;
    }
  }
}
