.caroseo-brb-items {
    margin-bottom: 72px;
    width: 100%;
  }
  .caroseo-brb-items {
    .slick-slider {
      div {
        div {
          img {
            width: 580px;
            height: 380;
          }
        }
      }
    }
  }
  